[md-button] [md-icon] { color: rgba(0, 0, 0, 0.8); }
p { padding-bottom: 10px !important; }

.widthFull { width: 100%; }
.app-content {
  .toolbar { text-align: center; height: 100px; z-index: 10; }
  .fixed-toolbar {
    text-align: center; position: fixed; z-index: 10; margin-top: -2px; padding-top: 6px;
    button {
      &.login { position: absolute; right: 10px; min-width: 40px !important; [md-icon] { margin-left: -2px !important; } span.text { } }
      &.back { position: absolute; left: 10px; min-width: 40px !important; border-radius: 50%; [md-icon] { margin-left: -2px !important; } span.text { } }
      &.login-img { right: 40px; z-index: 20; top: 4px; }
      [md-icon] { margin: 5px -11px; position: absolute; }
      span.text { margin-left: 15px; } }
  }
  .component-content { width: 800px; margin-top: 60px; }
}
md-input-container {
  .md-input[disabled] { color: rgba(0, 0, 0, 0.45); }
}

md-card {
  width: 100%;
  md-card-title { flex: inherit !important;
    md-card-title-text { padding-left: 10px; }
  }
}
.md-avatar { height: 60px !important; }
[md-raised-button].md-primary, .md-progress-linear-bar, .md-toolbar-tools { }


md-toolbar:not(.md-menu-toolbar) [md-icon] { color: inherit; }

md-input-container > button { position: absolute !important; top: 5px !important; left: 5px !important; margin: -7px -1px !important; }
md-input-container > button + input { margin-left: 45px !important; width: 88% !important; }
md-input-container > button + input + button { left: 94% !important; }

login {
  background-color: transparent !important;
  md-tabs {
    background: #f6f6f6;
    border: 1px solid #e1e1e1;
    .md-tab {
      border-right: 1px solid #eaeaea !important;
      &.md-active {
        background-color: #757575 !important;
        color: white;
      }
    }
  }
  h1:first-child {
    margin-top: 0;
  }
}
