// ng2-material fonts & core
@import "../../node_modules/ng2-material/dist/font.scss";
@import "../../node_modules/ng2-material/source/core";

// ng2-material theme
$md-primary: md-palette($md-grey, 600, 400, 800, $md-contrast-palettes);
$md-accent: md-palette($md-pink, 500, 300, 700, $md-contrast-palettes);
$md-background: md-palette($md-grey, 500, 0, 600, $md-contrast-palettes);
$md-warn: md-palette($md-red, 500, 100, 700, $md-contrast-palettes);
$md-foreground: if($md-is-dark-theme, $md-dark-theme-foreground, $md-light-theme-foreground);

@import "../../node_modules/ng2-material/source/components";

@import 'app';
@import 'responsive';
