
@media screen and (max-width: 800px) {
  body{ -webkit-text-size-adjust: none !important; }
  .app-content {
    .toolbar { display: none !important; }
    .fixed-toolbar {
      top: 0 !important;
      button { width: 35px !important; min-width: 0px !important; [md-icon] { margin: 5px 0px; position: absolute; } span.text { margin-left: 30px; } }
    }
    .component-content { width: 100%; }
    md-card { margin-top: 0px !important;margin-left: 0px !important; margin-right: 0px !important; }
    .md-padding { padding: 0px !important; }
  }
}