<md-content class="md-padding" layout="row" layout-wrap layout-align="center start">
  <div layout="column">

    <md-card>
      <md-card-title class="noFlex">
        <md-card-title-media>
          <img src="{{ 'HOME.CARD.IMG' | translate }}" class="card-media md-media-lg" alt="Grass">
        </md-card-title-media>
        <md-card-title-text>
          <span class="md-headline">{{ 'HOME.CARD.TITLE' | translate }}</span>
          <span class="md-subhead">{{ 'HOME.CARD.TITLE2' | translate }}</span>
          <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
        <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>{{ 'HOME.CARD.ACTION1' | translate }}</button>
        <button md-button>{{ 'HOME.CARD.ACTION2' | translate }}</button>
      </md-card-actions>
    </md-card>

    <md-card>
      <img src="{{ 'HOME.CARD.IMG' | translate }}" class="md-card-image" alt="Grass" style='height: 300px'>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{ 'HOME.CARD.TITLE' | translate }}</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
        <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
        <p>{{ 'HOME.CARD.TEXT' | translate }}</p>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <button md-button>{{ 'HOME.CARD.ACTION1' | translate }}</button>
        <button md-button>{{ 'HOME.CARD.ACTION1' | translate }}</button>
      </md-card-actions>
    </md-card>
  </div>
</md-content>